
.imagen {
    width: 18%;
    display: block;
    margin: auto;
    padding-top: 4rem ;
   
}

.texto {
    width: 18%;
    display: block;
    margin: auto;
    padding-top: 1rem;
    
}

